@font-face {
  font-family: "proxima_bold";
  src: url("../../Fonts/proxima_nova_bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "proxima_regular";
  src: url("../../Fonts/proximanova-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
