.about-container {
  margin-top: 20rem;
  margin: 0;
  width: 100vw;
}
.about-heading {
  font-size: 3rem;
  font-weight: 700;
  padding: 10rem;
  background: rgb(48, 207, 208);
  background: linear-gradient(180deg, rgba(48, 207, 208, 1) 0%, rgba(51, 8, 103, 1) 78%);
  background-clip: text;
  --moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  hr {
    width: 5rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: $blue_400;
    border-top: 1px solid $blue_400;
  }
}

@mixin grid-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 30rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  margin-bottom: 10rem;
  max-width: 1080px;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }

  img {
    width: 350px;

    @media (max-width: 900px) {
      width: 250px;
    }
  }
}
.security-container {
  @include grid-container;
}

.support-container {
  @include grid-container;
}
@mixin about-icon {
  font-size: 3.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: $full;
  display: grid;
  place-items: center;
  margin-left: 0;
}

.shield {
  @include about-icon;
  background: $green_100;
  color: $green_400;
}

.rocket {
  @include about-icon;
  background: $yellow_vivid_100;
  color: $yellow_vivid_400;
}
.text {
  padding: 3rem;
  border: 1px solid $grey_300;
  box-shadow: $shadow;
  border-radius: $xl;
  &:hover {
    border: 1px solid $light_blue_vivid_100;
    box-shadow: $shadow-lg;
    scale: (1.01);
    transition: all 0.3s ease-in-out;
  }

  h1 {
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: start;
  }
  p {
    text-align: start;
  }
}

.check-icon {
  padding-top: 2rem;
  display: block;
  text-align: start;

  svg {
    color: $green_600;
    font-size: 2rem;
    vertical-align: bottom;
  }
}

@media (max-width: 900px) {
  .support-img {
    order: -1;
  }
}
