.search-container {
  width: 100vw;
  height: 100vh;
}

.search-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: $indigo_600;
  width: 100%;
  height: 80%;
  z-index: -1;
}

.search-wrapper {
  margin-top: 10rem;
}

.search-heading {
  color: $white;
  font-family: "proxima_bold";
  font-size: 5.2rem;
  margin-bottom: 3rem;
}

.search-text {
  color: $white;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.domain-input {
  height: 4.5rem;
  text-indent: 5%;
  border-radius: $full;
  border: 1px solid $grey_500;
  width: 520px;
  font-size: 1.6rem;
  color: $grey_700;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $cyan_300;
  }
}

.search-btn {
  padding: 1rem 3rem;
  background: $cyan_400;
  color: $white;
  font-size: 2rem;
  border: none;
  border-radius: $full;
  cursor: pointer;
  margin-left: 2rem;
  font-weight: bold;
  &:hover {
    background: $cyan_500;
  }
}
.domain-suggestion {
  color: $white;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-gap: 1.5rem;
  place-items: center;
  margin-top: 5rem;
  justify-content: center;
  font-size: 2.2rem;
  cursor: pointer;
}
.domain {
  padding-right: 2.2rem;
  position: relative;
  width: 100%;
  height: 100%;
}
.domain::before {
  content: "";
  border-right: 2px solid $white;
  height: 4.9rem;
  position: absolute;
  right: 0;
  top: 4px;
}

.domain-digital::before {
  content: "";
  border-right: none;
}
