.faq-container {
  padding-top: 3rem;
  max-width: 1080px;
  margin: 0 auto;

  h1 {
    text-transform: capitalize;
    font-size: 4rem;
    font-family: "proxima_bold";
    background: rgb(76, 81, 191);
    background: linear-gradient(180deg, rgba(76, 81, 191, 1) 12%, rgba(56, 190, 201, 1) 100%);
    background-clip: text;
    --moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.faq-wrapper {
  max-width: 1080px;
  padding: 2rem;
  background: $white;
  border-radius: $md;
  border: 1px solid $grey_300;
  margin-top: 3rem;
  max-width: 1080px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $shadow-sm;
}
@mixin text-style {
  text-align: start;
  padding: 1rem;
  margin: 0;
}
.faq-title {
  @include text-style;
  color: $blue_500;
}

.faq-answer {
  line-height: 2.5rem;

  @include text-style;
}

.chevron {
  font-size: 2rem;
  color: $blue_grey_700;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
