.faq-container {
  padding-top: 5rem;
  max-width: 1080px;
  margin: 0 auto;

  h1 {
    text-transform: capitalize;
    font-size: 4rem;
    font-family: "proxima_bold";
    background: rgb(76, 81, 191);
    background: linear-gradient(180deg, rgba(76, 81, 191, 1) 12%, rgba(56, 190, 201, 1) 100%);
    background-clip: text;
    --moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.faq-wrapper {
  max-width: 1080px;
  display: flex;
  justify-content: flex-start;
}
.faq-title {
  font-family: "proxima_regular";
}
