.faq-container {
  padding-top: 5rem;
  h1 {
    text-transform: capitalize;
    font-size: 4rem;
    font-family: "proxima_bold";
    background: rgb(76, 81, 191);
    background: linear-gradient(180deg, rgba(76, 81, 191, 1) 12%, rgba(56, 190, 201, 1) 100%);
    background-clip: text;
    --moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
