.map-container {
  width: 90%;
  height: 100%;
  max-width: 1080px;
  margin-top: 10rem;
}

.pin {
  cursor: pointer;
}
.map {
  position: relative;
}
.city-name {
  display: none;
}

.city-name-show {
  position: fixed;
  display: block;

  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  overflow: hidden;
  background: $red_vivid_400;
  border-radius: $md;
  box-shadow: $shadow-lg;
  transform: all 3s ease-in-out;
}
