.nav-container {
  background: transparent;
  color: $white;
}

.wrapper {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  margin: 0 auto;
  @media (max-width: 900px) {
    margin: 0;
  }
}

.nav-links {
  display: flex;
  cursor: pointer;

  a {
    color: $white;
    &:hover {
      color: rgba($white, 0.8);
    }
  }
  li {
    margin-right: 4rem;
    &:hover {
      color: rgba($white, 0.8);
    }
  }
  @media (max-width: 900px) {
    display: none;
  }
}

.sign-in {
  background: rgba($white, 0.2);
  padding: 5px 10px;
  border-radius: $full;
  cursor: pointer;
  backdrop-filter: blur(40px);
  color: $white;
  transition: all 0.3s ease-in-out;
  @media (max-width: 900px) {
    display: none;
  }

  &:hover {
    background: rgba($white, 0.4);
    svg {
      transform: translateX(4px);
      transition: all 0.3s ease-in-out;
    }
  }
  span {
    display: flex;
  }
}

.arrow-icon {
  position: relative;
  top: 1px;
  font-size: 1.9rem;
}
.logo {
  text-align: start;
  display: grid;
  grid-auto-flow: column;
  margin-left: 3rem;
  padding-right: 6rem;
  cursor: pointer;
}
.logo-image {
  width: 25px;
  margin-right: 1rem;
}

@mixin icons-size {
  margin-right: 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.toggle-btn {
  background: rgba($white, 0.3);

  border-color: transparent;
  color: white;
  width: 4.5rem;
  height: 3rem;
  border-radius: $full;
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
  &:hover {
    background: rgba($white, 0.6);
  }
  @media (min-width: 900px) {
    display: none;
  }
}

.hamburger-menu {
  @include icons-size;
  position: absolute;
  top: 3px;
  right: -20px;

  @media (min-width: 900px) {
    display: none;
  }
}
