.form-container {
  background: $grey_050;
  height: 100vh;
}

.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  max-width: 600px;
  width: 500px;
  height: 520px;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: $white;
  border-radius: $md;
  box-shadow: $shadow-lg;
  @media (max-width: 515px) {
    width: 90%;
  }
}

.form-heading {
  color: $blue_grey_700;
  text-align: start;
  margin-bottom: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.email-input,
.password-input {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-bottom: 2rem;
  width: 400px;
  @media (max-width: 515px) {
    width: 70vw;
  }

  input {
    height: 4.5rem;
    text-indent: 3%;
    border-radius: $md;
    border: 1px solid $grey_400;
    width: 100%;
    font-size: 1.6rem;
    color: $grey_700;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $blue_200;
    }
  }
  label {
    padding-bottom: 1rem;
  }
}

.password-text {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  width: 100%;
  background: $indigo_600;
  color: $white;
  padding: 1.5rem 3rem;
  border-radius: $md;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 3rem;
  &:hover {
    background: $indigo_500;
  }
}

.register-text {
  margin-top: 4rem;
}

a {
  color: $indigo_600;
}
