.submenu {
  background: $white;
  box-shadow: $shadow-xxl;
  position: absolute;
  opacity: 0;
  padding: 20px;
  top: -20px;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  border-radius: $lg;
  transition: all 0.1s, opacity 0.1s, transform 0.2s;
  will-change: opacity;
  @media (max-width: 900px) {
    visibility: hiddennpm;
  }
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $white;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 900px) {
    visibility: hidden;
  }
}

.links-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  grid-gap: 1rem;
}
.submenu.show {
  display: block;
  opacity: 1;
  h4 {
    text-align: start;
    color: $grey_500;
    margin-bottom: 1.5rem;
  }
}

.menu-items {
  margin: 0;
}

.link-submenu {
  text-decoration: none;
  font-size: 1.25rem;
}

.icon-submenu {
  color: $blue_grey_400;
  margin-right: 1rem;
  font-size: 2rem;
}

.label-submenu {
  color: $grey_600;
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
}
.link-submenu:hover .icon-submenu {
  color: $blue_grey_600;
}
.link-arrow {
  position: absolute;
  top: 1px;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.link-submenu:hover .link-arrow {
  opacity: 1;
  transform: translateX(3px);
}
