@import "./abstracts/colors";
@import "./abstracts/radius";
@import "./abstracts/shadow";
@import "./navbar";
@import "./hero";
@import "./submenu";
@import "./partners";
@import "./stats";
@import "./abstracts/fonts";
@import "./sidebar";
@import "./about";
@import "./maps";
@import "./pricing";
@import "./faq";
@import "./footer";
@import "./signin";
@import "./register";
@import "./reset";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "proxima_regular", sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  text-align: center;
  color: $grey_600;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
